DISCORD_TOKEN=YOUR_MAIN_BOT_TOKEN
CLIENT_ID=YOUR_CLIENT_ID
MUSIC_BOT_1_TOKEN=YOUR_MUSIC_BOT_1_TOKEN
MUSIC_BOT_2_TOKEN=YOUR_MUSIC_BOT_2_TOKEN
MUSIC_BOT_3_TOKEN=YOUR_MUSIC_BOT_3_TOKEN
MUSIC_BOT_4_TOKEN=YOUR_MUSIC_BOT_4_TOKEN
MUSIC_BOT_5_TOKEN=YOUR_MUSIC_BOT_5_TOKEN
AZKAR_BOT_TOKEN=YOUR_AZKAR_BOT_TOKEN
AZKAR_CLIENT_ID=YOUR_AZKAR_CLIENT_ID
